
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 3.5rem;
}
h1{
  margin-top: 45px;
  text-align: center;
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.img1{
  margin-top: 25px;
  margin-left: 110px;
  margin-bottom: 50px;
}
.hmp{
  font-size: 20px;
  margin-top: 40px;
  margin-left: 85px;
  margin-right: 85px;
  margin-bottom: 20px;
}
.embd{
  margin-left: 250px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.h3embd{
  margin-left: 200px;
  margin-bottom: 50px;
  mar
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 15.5s;
}

@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.h3slide{
  margin-top: 50px;
  margin-bottom: 50px;
}
.h3contact{
  text-align: center;
  margin-top: 99px;
}
.h3ul{
  text-align: center;
  margin-top: 40px;
}
.h5c{
  text-align: center;
  margin-top: 70px;
}
.pfo{
  font-size: 20px;
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 20px;
}
